{% extends "base.html" %}
{% load static %}


{% block title %}ログイン{% endblock %}
{% block extra_css %}<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">{% endblock %}

{% block content %}
<div class="form-wrapper">
    <h1>ログイン</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-item">
            <label for="id_username"></label>
            <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="254" required="required" placeholder="Eメールアドレス" id="id_username">
        </div>
        <div class="form-item">
            <label for="id_password"></label>
            <input type="password" name="password" autocomplete="current-password" required="required" placeholder="パスワード" id="id_password"></input>
        </div>
        <div class="button-panel">
            <input type="submit" class="button" title="ログイン" value="ログイン"></input>
        </div>
    </form>
    <div class="form-footer">
        <p><a href="{% url 'accounts:signup' %}">アカウント新規作成</a></p>
    <p><a href="{% url 'password_reset' %}">パスワードをお忘れですか？</a></p>
    </div>
</div>
{% endblock %}
 